body {
    background: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.profil-content {
    max-width: 800px;
    margin: 80px auto 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: black;
    text-align: left;
}

.profil-content h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.detail-profil {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 10px;
    margin: auto;
}

.detail-profil table {
    width: 100%;
    margin: auto;
}

.detail-profil th,
.detail-profil td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    border-radius: 5px;
}

.detail-profil th {
    background-color: #cea991;
    color: white;
    text-align: center;
}

.profil-buttons {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
}

.profil-content label {
    color: #333;
    font-size: 1.1em;
    margin-bottom: 8px;
    display: block;
}

.profil-content select,
.profil-content textarea,
.profil-content button,
.profil-content input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 12px;
    font-size: 1.2em;
}

.edit-button {
    background-color: #007BFF;
    color: #fff;
}

.logout-button {
    background-color: #FF0000; /* Warna merah */
    color: #fff;
    padding: 10px 20px; /* Sesuaikan padding sesuai kebutuhan */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    text-decoration: none;
    display: inline-block;
}

.edit-button:hover {
    background-color: #0056b3;
}

.logout-button:hover {
    background-color: #CC0000; /* Warna merah yang sedikit lebih gelap saat dihover */
}
